export TF_VAR_ARM_SUBSCRIPTION_ID="REPLACE_ME"
export TF_VAR_ARM_TENANT_ID="REPLACE_ME"
export TF_VAR_git_token=="REPLACE_ME"

export TF_VAR_dockerhub_username="cloudlandworkshop"
export TF_VAR_dockerhub_password="REPLACE_ME"
export TF_VAR_root_domain_name="showcase.iits.tech"

export TF_VAR_argocd_bootstrap_project_url="https://github.com/victorgetz/azure-infrastructure-charts.git"

source ./my-secrets.sh